<div class="row mb-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Administrar Sitios /Eventos
                </div>
               
                           
                <div class="card-table table-responsive">
                        <a class="btn btn-primary" href="/adminCreate">
                            <i class="batch-icon batch-icon-plus"></i>
                        </a>
        
                    <table class="table table-hover align-middle">
                        <thead class="thead-light">
                            <tr>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th class="text-center">Tipo</th>
                                 <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let site of sites; let i = index">
                                <td>
                                    <div class="media">
                                        <div class="profile-picture bg-gradient bg-primary has-message float-right d-flex mr-3">
                                            <img [src]="site.images[0]" width="44" >
                                        </div>
                                        <div class="media-body">
                                            <div class="heading mt-1">
                                                {{site.name}}
                                            </div>
                                            
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    {{site.price}}
                                </td>
                                <td class="text-center">
                                    <span class="badge badge-primary">{{site.type}}</span>
                                </td>
                                <td class="text-right">
                                  
                                    <a class="btn btn-success" href="/adminCreate/{{site._id}}">
                                        <i class="batch-icon batch-icon-quill"></i>
                                    </a>
                                </td>
                            </tr>
                            
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    