<app-modal-loading></app-modal-loading>
<div class="row mb-5">
    <div class="col-md-12">
        <button type="button" class="btn btn-primary" [routerLink]="['/site']"><span class="fa fa-arrow-left"></span> Regresar</button>
        <br>
        <div class="card">
            <div class="card-body product-page">

                <div class="row">
                    <div class="col-md-6">
                        <div id="carouselExampleIndicators" class="carousel slide mb-5" data-ride="carousel" data-interval="false">
                            <ol class="carousel-indicators">
                                <li *ngFor="let image of siteSelected.images; let i = index" 
                                data-target="#carouselExampleIndicators" attr.data-slide-to="{{i}}" [ngClass]="(i==0)?'active':''"></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <div *ngFor="let image of siteSelected.images; let i = index"  [ngClass]="(i==0)?'carousel-item active':'carousel-item'" >
                                    <img class="d-block img-fluid" src="{{image}}" alt="{{siteSelected.name}}">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <i class="batch-icon batch-icon-arrow-left batch-icon-lg"></i>
                                <span class="sr-only">Anterior</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <i class="batch-icon batch-icon-arrow-right batch-icon-lg"></i>
                                <span class="sr-only">Siguiente</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h1>{{siteSelected.name}}</h1>
                        <div class="price-block mb-2">
                            <div class="price-new">${{siteSelected.price}}</div>
                            <!--<div class="price-old">$749</div>-->
                            <!--<div class="price-discount">64% discount just for you.</div>-->
                            <br>
                            <h4>
                                Tipo: <span class="badge badge-pill badge-primary ">
                                        <span *ngIf="siteSelected.type == 'event'">Evento</span>
                                        <span *ngIf="siteSelected.type != 'event'">Sitio</span>
                                </span>
                            </h4>
                            <h4 *ngIf="siteSelected.type == 'event'">Fecha: <span class="badge badge-pill badge-primary ">{{siteSelected.date}}</span></h4>
                            
                            <h4>Categoria: <span class="badge badge-pill badge-success">{{siteSelected.category}}</span></h4>
                            <h4>Ciudad: <span class="badge badge-pill badge-light">{{siteSelected.city}}</span></h4>
                            <h4>Dirección: <span class="badge badge-pill badge-light">{{siteSelected.address}}</span></h4>
                        </div>
                        <!--
                        <div class="ratings">
                            <i class="batch-icon batch-icon-star-alt rating-highlighted"></i>
                            <i class="batch-icon batch-icon-star-alt rating-highlighted"></i>
                            <i class="batch-icon batch-icon-star-alt rating-highlighted"></i>
                            <i class="batch-icon batch-icon-star-alt rating-highlighted"></i>
                            <i class="batch-icon batch-icon-star-alt"></i>
                        </div>
                        <h3>Descripcíon</h3>
                        <p class="lead">

                            Long shadow innovate sticky note 360 campaign actionable insight hacker minimum viable product SpaceTeam affordances waterfall is so 2000 and late sticky note entrepreneur pivot ship it.                            
                        </p>
                        <a class="btn btn-primary btn-gradient btn-block btn-lg">Add To Cart</a>-->
                    </div>
                </div>
                <!--
                <div class="row">
                    <div class="col-md-12 pt-5">
                        <h3>Quantitative Vs. Qualitative Viral</h3>
                        <p class="mb-5">
                            Waterfall is so 2000 and late convergence viral paradigm actionable insight food-truck fund agile engaging user story workflow co-working. Responsive thought leader venture capital physical computing long shadow engaging ideate thinker-maker-doer intuitive quantitative vs. qualitative food-truck. Cortado prototype food-truck entrepreneur sticky note engaging quantitative vs. qualitative ship it minimum viable product affordances. Experiential viral unicorn thinker-maker-doer waterfall is so 2000 and late long shadow intuitive paradigm entrepreneur earned media personas SpaceTeam.
                        </p>
                        <h3>Thinker-Maker-Doer Earned Media</h3>
                        <p class="mb-5">
                            Long shadow innovate sticky note 360 campaign actionable insight hacker minimum viable product SpaceTeam affordances waterfall is so 2000 and late sticky note entrepreneur pivot ship it. Iterate co-working Steve Jobs quantitative vs. qualitative pitch deck quantitative vs. qualitative engaging unicorn SpaceTeam parallax 360 campaign bootstrapping hacker. Long shadow minimum viable product waterfall is so 2000 and late integrate integrate waterfall is so 2000 and late thinker-maker-doer earned media. Prototype physical computing ship it earned media unicorn 360 campaign actionable insight experiential responsive convergence responsive fund prototype hacker.
                        </p>
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>
</div>
<br><br>
<div class="row mb-5">
    <div class="col-lg-12 ">
        <h3><span *ngIf="siteSelected.type == 'event'">Eventos</span>
            <span *ngIf="siteSelected.type != 'event'">Sitios</span> Relacionados</h3>
        <div class="row">
            <div class="col-sm-6 col-lg-3 mb-5" *ngFor="let item of arraySites; let i = index">
                <div class="card text-center">
                    <a [routerLink]="['/sitedetail', item.id]">
                        <img class="card-img-top" src="{{item.images[0]}}" alt="{{item.name}}">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a [routerLink]="['/sitedetail', item.id]">
                                {{item.name}}
                            </a>
                        </h5>
                        
                        <span *ngIf="siteSelected.type == 'event'">{{item.date}}</span>
                        <span >{{item.city}}</span>
                        <span >{{item.category}}</span>
                        <br>
                        <a class="btn btn-primary" [routerLink]="['/sitedetail', item.id]">Ver más...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>