
<button type="button" class="btn btn-primary" [routerLink]="['/site']"><span class="fa fa-arrow-left"></span> Regresar</button>

<div class="row">
        <div class="col-md-12">
            <h1>Busqueda de eventos y sitios turisticos del Valle del Cauca</h1>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form class="col-md-8 px-0 my-2 my-lg-0 no-waves-effect">
                        <div class="input-group">
                            <input type="text" class="form-control" #querySearch placeholder="Busqueda..." value="{{query}}" aria-label="Busqueda" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary btn-gradient waves-effect waves-light" (click)="findSiteByQuery(querySearch.value)" type="button"><span class="gradient"><i class="fa fa-search"></i> Buscar</span></button>
                            </div>
                        </div>
                    </form>
                    <div class="search-terms lead mb-3">
                        Busque por: <strong><em>Nombre, Tipo, Categoria, Ciudad</em></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5 category-page">

        <div  *ngFor="let item of arraySites; let i = index" class="col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-5">
            <div class="card text-center">
                <a [routerLink]="['/sitedetail', item.id]">
                    <img class="card-img-top" src="{{ item.images[0]}}" alt="{{ item.name }}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">
                        <a [routerLink]="['/sitedetail', item.id]" >
                            {{ item.name }}
                        </a>
                    </h5>
                    <div class="price-block">
                        <div class="price-new">${{ item.price }}</div>
                        <!--
                        <div class="price-old">$749</div>
                        -->
                    </div>
                    <!--
                    <div class="ratings">
                        <i class="batch-icon batch-icon-star-alt rating-highlighted"></i>
                        <i class="batch-icon batch-icon-star-alt rating-highlighted"></i>
                        <i class="batch-icon batch-icon-star-alt rating-highlighted"></i>
                        <i class="batch-icon batch-icon-star-alt rating-highlighted"></i>
                        <i class="batch-icon batch-icon-star-alt"></i>
                    </div>
                    -->
                    
                            
                    <span *ngIf="item.type == 'event'">{{item.date}}</span>
                    <span >{{item.city}}</span>
                    <span >{{item.category}}</span>
                    <br>
                    <a class="btn btn-primary" [routerLink]="['/sitedetail', item.id]">Ver más...</a>
                </div>
            </div>
        </div>
    </div>