<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h2>Sitios/Eventos</h2>
                </div>
            </div>
            <div class="row">
                <form [formGroup]="siteGroup" (ngSubmit)="onSubmit()">
                    <div class="col-lg-12">
                        <label for="nameSite">Nombre</label>
                        <input type="text" class="form-control" formControlName="name"
                            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" id="nameSite" placeholder="Nombre">

                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">El nombre es requerido</div>
                        </div>
                    </div>
                    <div class="col-lg-12">


                        <label for="nameSite">Tipo</label>
                        <select class="form-control" formControlName="type" (change)="setType"
                            id="exampleFormControlSelect1" [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
                            <option value="Evento">Evento</option>
                            <option value="Sitio">Sitio</option>
                        </select>
                        <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                            <div *ngIf="f.type.errors.required">El  tipo es requerido</div>
                        </div>


                    </div>
                    <div class="col-lg-12">


                            <label for="nameSite">Estado</label>
                            <select class="form-control" formControlName="state" 
                                id="exampleFormControlSelect1" [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
                                <option value="Activo">Activo</option>
                                <option value="Inactivo">Inactivo</option>
                            </select>
                            <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                                <div *ngIf="f.state.errors.required">El estado es requerido</div>
                            </div>
    
    
                        </div>
                    <div class="col-lg-12">
                        <label for="exampleFormControlSelect1">Categoria</label>
                        <select class="form-control" formControlName="category" id="exampleFormControlSelect1"
                            [ngClass]="{ 'is-invalid': submitted && f.category.errors }">
                            <option value="Naturaleza">Naturaleza</option>
                            <option value="Negocios">Negocios</option>
                            <option value="Cultura">Cultural</option>
                            <option value="Gastronomia">Gastronomia</option>
                        </select>
                        <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
                            <div *ngIf="f.category.errors.required">La categoria es requerida</div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <label for="nameSite">Precio</label>
                        <input type="number" formControlName="price" class="form-control" id="nameSite"
                            placeholder="Precio" [ngClass]="{ 'is-invalid': submitted && f.price.errors }">
                        <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                            <div *ngIf="f.price.errors.required">El precio es requerido</div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <label for="nameSite">Dirección</label>
                        <input type="text" formControlName="address" class="form-control" id="nameSite"
                            placeholder="Dirección" [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
                        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                            <div *ngIf="f.address.errors.required">La dirección es requerida</div>
                        </div>
                    </div>

                    <div class="col-lg-12" *ngIf="f.type.value =='Evento'">
                        <label for="nameSite">Fecha de Evento</label>
                        <input type="date" formControlName="fevento" class="form-control" id="nameSite"
                            placeholder="Dirección">

                    </div>

                    <div class="col-lg-12">
                        <label for="exampleFormControlSelect1">Ciudad</label>
                        <select class="form-control" formControlName="ciudad" id="exampleFormControlSelect1"
                            [ngClass]="{ 'is-invalid': submitted && f.ciudad.errors }">
                            <option [value]="ciudad" *ngFor="let ciudad of ciudades; let i = index">{{ciudad}}</option>

                        </select>
                        <div *ngIf="submitted && f.ciudad.errors" class="invalid-feedback">
                            <div *ngIf="f.ciudad.errors.required">La categoria es requerida</div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="input-group mb-3">
                            <div class="custom-file">
                                <input type="file" (change)="fileEvent($event)" class="custom-file-input"
                                    id="inputGroupFile02">
                                <label class="custom-file-label" for="inputGroupFile02">{{nameFiles}}</label>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text" id="">Upload</span>
                            </div>
                        </div>
                        <label>La primera imagen sera tomada como la principal</label>
                        <img [src]="imgURL" width="600">
                        <br>
                        <label style="color:Red">{{fileError}}</label>
                    </div>

                    <button id="save" type="submit" class="btn btn-primary waves-effect waves-light">Guardar</button>
                  
                    <a class="btn btn-success" href="/admin">
                        <i class="batch-icon batch-icon-quill">Volver</i>
                    </a>
                    <div class="alert alert-success" *ngIf="saveform" role="alert">
                        <strong>Registro {{estadoS}}</strong> Se ha {{estadoS}} satisfactoriamente
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>