<app-modal-loading></app-modal-loading>
<div class="row">
    <div class="col-md-12">
        <h1>Eventos y sitios turisticos del Valle del Cauca</h1>
    </div>
</div>
<div class="row mb-5 category-page">
    <div  *ngFor="let item of arraySites; let i = index" class="col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-5">
        <div class="card text-center">
            <a [routerLink]="['/sitedetail', item.id]">
                <img class="card-img-top" src="{{ item.images[0]}}" alt="{{ item.name }}">
            </a>
            <div class="card-body">
                <h5 class="card-title">
                    <a [routerLink]="['/sitedetail', item.id]" >
                        {{ item.name }}
                    </a>
                </h5>
                <div class="price-block">
                    <div class="price-new">${{ item.price }}</div>
                    <!--
                    <div class="price-old">$749</div>
                    -->
                </div>
                <!--
                <div class="ratings">
                    <i class="batch-icon batch-icon-star-alt rating-highlighted"></i>
                    <i class="batch-icon batch-icon-star-alt rating-highlighted"></i>
                    <i class="batch-icon batch-icon-star-alt rating-highlighted"></i>
                    <i class="batch-icon batch-icon-star-alt rating-highlighted"></i>
                    <i class="batch-icon batch-icon-star-alt"></i>
                </div>
                -->
                
                        
                <span *ngIf="item.type == 'event'">{{item.date}}</span>
                <span >{{item.city}}</span>
                <span >{{item.category}}</span>
                <br>
                <a class="btn btn-primary" [routerLink]="['/sitedetail', item.id]">Ver más...</a>
            </div>
        </div>
    </div>



    <!--
    <div class="col-lg-12">
        <nav>
            <ul class="pagination pagination-lg justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#">Previous</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">4</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">5</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">6</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    -->
</div>
<!--
<div class="row mb-4">
    <div class="col-md-12">
        <footer>
            Powered by - <a href="http://base5builder.com/?click_source=quillpro_footer_link" target="_blank" style="font-weight:300;color:#ffffff;background:#1d1d1d;padding:0 3px;">Base<span style="color:#ffa733;font-weight:bold">5</span>Builder</a>
        </footer>
    </div>
</div>
-->